body {
    background-color: #e5e1e1;
    font-family: "Microsoft YaHei";
}

.header {
    margin: 4.5rem auto;
}

img {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}

h2 {
    display: inline-block;
    font-size: 3.6em;
    color: #4f1b12;
    margin: 5rem auto;
    text-align: center;
}

.input-group {
    margin: 0.5rem auto;
    border: none;
    box-shadow: none;
}

.input-group-addon {
    background-color: #fbfbfb;
    border: none;
    display: table;
    color: #8c8c8c;
    height: 8rem;
    border-radius: 10px;
}

span {
    display: table-cell;
    vertical-align: middle;
    font-size: 2.6rem;
    background-color: #fbfbfb;
    color: #8c8c8c;
}

.form-control {
    padding: 0;
    border: none;
    border-radius: 10px;
    background-color: #fbfbfb;
}

.form-control:focus {
    box-shadow: none;
    background-color: #fbfbfb;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

p {
    margin: 25px 0;
    font-size: 1.5em;
    color: #8c8c8c;
    font-size: 2.4rem;
}

input[type] {
    font-size: 2.6rem;
}

.submitbutton {
    margin: 6rem auto 3rem auto;
}

.btn {
    height: 8rem;
    font-size: 3.2rem;
    border-radius: 10px;
    background-color: #4f1b12;
    color: #ffffff;
}

hr {
    display: inline-block;
    border: 0.5px solid #4f1b12;
    height: 0;
    max-width: 100%;
}

.title {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}


